.pictures {
  display: flex;
  max-width: 1000px;
  flex-direction: row;
  margin: 100px auto;
}

.pictures__img {
  width: 230px;
  margin: 5px;
}

@media (max-width: 1000px) {


  .pictures__img {
    margin: 5px auto;
    width: 200px;
  }
}

@media (max-width: 700px) {
  .pictures__img {
    margin: 5px auto;
    width: 400px;
  }
  .pictures {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .pictures__img {
    width: 280px;
  }
}
