.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.intro__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1000px;
}

.intro__container__block {
  max-width: 500px;
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
}

.intro__container__about {
  max-width: 500px;
  padding: 20px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
  text-indent: 30px;
}

.intro__header {
  color: white;
  font-size: 50px;
  font-weight: 400;
}

.intro__links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.introLinksHref {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 24px;
  margin: 10px;
}

.introLinksHref:hover {
  color: rgb(9, 120, 255);
}

.introLinksPhone {
  font-weight: 400;
  color: white;
  font-size: 24px;
  margin: 10px;
  text-decoration: none;
}

.introLinksPhone:hover {
  color: rgb(9, 120, 255);
}

@media (max-width: 1000px) {
  .intro__container {
    flex-direction: column;
    padding: 10px;
  }
}
@media (max-width: 500px) {
  .intro__header {
    font-size: 22px;
  }
  .introLinksHref {
    font-size: 16px;
  }
  .introLinksPhone {
    font-size: 16px;
  }
  .about__text {
    font-size: 16px;
  }
}
