.about {
  max-width: 1000px;
  margin: 100px auto;
  padding: 20px;
}

.about__text {
  text-indent: 30px;
  font-size: 20px;
  font-weight: 400;
  color: black;
}

@media(max-width: 700px){
  .about {
    margin: 50px auto;
    padding: 10px;
  }
  .about__text {
    font-size: 16px;
  }
}
