.about {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  text-indent: 30px;
}

@media (max-width: 500px) {
  .about__text {
    font-size: 16px;
  }
}
