.contacts {
  padding: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.contacts__header {
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.contacts__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
}

.contacts__container__info {
  margin: 0 auto;
}

.contacts__text {
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  font-weight: 400;
}

.contacts__href {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
  color: black;
}

.contacts__href:hover{
  color: rgb(9, 120, 255);
}